{% extends "profile.html" %}

{% load static %}

{% block title %}Signals{% endblock %}

{% block content %}
<script src="{% static 'js/sendSignal.js' %}"></script>

<nav id="menu" >
     <ul>
      <li id="idjouse" class="house" ><a href="#" onclick="populateMessage('Hai acasa!')">Home</a></li>
      <li id="idrain" class="rain" ><a href="#" onclick="populateMessage('Vezi ca se anunta ploaie!')">Rain</a></li>
      <li id="iddanger" class="danger" ><a href="#" onclick="populateMessage('Alte pericole!')" >Danger</a></li>

  <div class="current">
    <div class="top-arrow"></div>
    <div class="current-back"></div>
    <div class="bottom-arrow"></div>
  </div>
    </ul>
</nav>
<nav id="copii">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select child
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
             {% for copil in copii %}
             <li id=copil{{copil.id}} onclick="populateId({{copil.id}})"><a ><strong>{{copil.nume}}  {{copil.prenume}}</strong></a></li>
            {% endfor %}
        </ul>

</div>
</nav>

<div id="divform" class="form" >
    <form action="{% url 'signals:index' %}" method="POST">
        {% csrf_token %}

        <input type="text" name="name" id="name" class="target1" style="visibility:hidden">
        <input type="text" name="description" id="description"  class="target2" style="visibility:hidden">

        <input type="submit" style="visibility:hidden" name="danger-submit" id="submitbtn" value="Submit">
    </form>
</div>


{% endblock %}

{% block footer %}
<link href="{% static 'css/signal.css' %}" rel="stylesheet">
{% endblock %}
