{% extends "base_nav.html" %}

{% load static %}

{% block title %}Stats{% endblock %}

{% block submenu %}
    <div id="menu">
        <a href="{% url 'statistics:obiecte' %}"
           class="btn btn-default btn-block button"><big>Coliziuni cu obiecte</big></a><br>
        <a href="{% url 'statistics:sol' %}"
           class="btn btn-default btn-block button"><big>Izbituri la sol</big></a><br>
        <a href="{% url 'statistics:animale' %}"
           class="btn btn-default btn-block button"><big>Contact cu animale</big></a><br>
        </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<link href="{% static 'css/slider.css' %}" rel="stylesheet">
<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
<script src="{% static 'scripts/crud_insert_slider.js' %}"></script>
{% endblock %}

