{% extends "base_nav.html" %}

{% load static %}

{% load map_custom_filters %}


{% block title %}Live map{% endblock %}


{% block main %}
<div id="googleMap" style="width:100%;height:90%;"></div>

<script src="{% static 'js/map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAljMB9ASc4kwqDG0UeBfABhiEsGdj6zYc&libraries=drawing&callback=myMap"></script>

<div id="informatii" style="display: none;">
    {% for zona in zone %}
    <div id="zona{{ zona.id }}">
        <div class="z-name">{{ zona.name }}</div>
        <div class="z-description">{{ zona.description }}</div>
        <div class="z-coordinates">{{ zona.coordinates | safe }}</div>
    </div>
    {% endfor %}
</div>

<div id="informatii_copii" style="display: none;">
    {% for copil in copii %}
    <div id="copil{{ copil.id }}">
        <div class="z-longitudine">{{ copil.longitudine }}</div>
        <div class="z-latitudine">{{ copil.latitudine }}</div>
        <div class="z-nume">{{copil.nume}}</div>
        <div class="z-prenume">{{copil.prenume}}</div>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block footer %}
<link href="{% static 'css/slider.css' %}" rel="stylesheet">
<script src="{% static 'scripts/crud_insert_slider.js' %}"></script>
<link href="{% static 'css/background.css' %}" rel="stylesheet">

{% endblock %}

