{% extends "profile.html" %}

{% load static %}

{% block title %}Notification{% endblock %}

{% block content %}
<div>
    <form action="{% url 'notifier:clear' %}">
        <input type="submit" value="clear">
    </form>
</div>

<div id="content" class="fadeInClass" style="margin-top: 70px;">

     {% for linie in result %}
     {% if linie.culoare == 'red' %}
     <div class="notification red">
      <div class="info">
        <h1>{{ linie.titlu }}</h1>
        <p>{{ linie.continut }}</p>
      </div>
      <div class="icon">
        <i class="fa fa-heart"></i>
      </div>
     </div>
    {% endif%}

    {% if linie.culoare == 'orange' %}
     <div class="notification orange">
      <div class="info">
        <h1>{{ linie.titlu }}</h1>
        <p>{{ linie.continut }}</p>
      </div>
      <div class="icon">
        <i class="fa fa-heart"></i>
      </div>
     </div>
    {% endif%}

    {% if linie.culoare == 'green' %}
     <div class="notification green">
      <div class="info">
        <h1>{{ linie.titlu }}</h1>
        <p>{{ linie.continut }}</p>
      </div>
      <div class="icon">
        <i class="fa fa-heart"></i>
      </div>
     </div>
    {% endif%}

    {% empty %}
      <div class="notification red">
        <div class="info">
          <h1>Nu aveti notificari</h1>
          <p></p>
        </div>
        <div class="icon">
          <i class="fa fa-heart"></i>
        </div>
      </div>
    {% endfor %}

</div>
{% endblock %}

{% block footer %}
     <script src="{% static 'scripts/not.js' %}"></script>
     <link href="{% static 'css/not.css' %}" rel="stylesheet">
     <style>

.fadeInClass {
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    0%   {opacity: 0; margin-top: -700px; position: relative; z-index: 1;}
    100%   {opacity: 0.9; margin-top: 70px; position: relative; z-index: 10;}
}

     </style>
{% endblock %}